<form class="flexcol" autocomplete="off">
    <div class='config-header flexrow'>
        <div>{{headers.[0]}}</div>
        <div>{{headers.[1]}}</div>
    </div>
    {{#each sp as |spellPoints level|}}
    <div class="flexrow">
        <div>Level {{level}}</div>
        <input type="number" name="level-{{level}}" value="{{spellPoints}}" placeholder="{{level}}"/>
    </div>
    {{/each}}

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i>
            {{localize "Save Changes"}}
        </button>
        <button type="button" name="reset">
            <i class="fas fa-undo"></i>
            {{localize "Reset"}}
        </button>
    </footer>

</form>